$mainColor: #3860CA;
$errorColor: #F04848;

$grayColorText: #959595;
$blueColorText: #2F43F2;
$redColorText: $errorColor;

$blackColorText: #1E1E1E;

$grayColorbg: #CDC9C9;
$grayColorBorder: #EAEAEA;
$grayColorBorder2: #ECECEC;
$grayColorBtn: rgba(196, 196, 196, 0.1);

$bgBody: #fff;
$bgColor: $mainColor;

$widthLeftProfile: 81px;
$widthFormLog: 185px;
$heightHeaderMessenger: 53px;
$heightEditor: 55px;