html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  background-color: #fff;
  color: #000; }

* {
  box-sizing: border-box; }
  *::-webkit-scrollbar {
    width: 7px;
    background-color: transparent; }
  *::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #CDC9C9; }

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

p, h1 {
  padding: 0;
  margin: 0; }

img, svg {
  width: auto;
  height: 100%;
  vertical-align: middle; }

a {
  color: inherit;
  text-decoration: none; }

button, input {
  border: none;
  padding: 0;
  background: transparent; }

input[type=file] {
  display: none; }

a, button {
  cursor: pointer; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

button:focus, input:focus, textarea:focus, input:invalid, input {
  outline: none;
  box-shadow: none; }

textarea {
  resize: none;
  width: 100%;
  border: transparent; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  margin: 0 0 15px 0;
  font-weight: bold; }

.container {
  margin: auto; }

.hidden, .loader {
  display: none; }

.show {
  display: block; }

.overview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(52, 9, 9, 0.15);
  z-index: 100; }
  .overview_active {
    display: block; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0 20px 81px; }
  .profile__left {
    position: fixed;
    left: 0;
    top: 0;
    width: 81px;
    height: 100vh;
    background-color: #cdc9c9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profile__left__arrow {
      color: #fff;
      background-color: rgba(56, 96, 202, 0.72);
      width: 31px;
      height: 31px;
      line-height: 29px;
      text-align: center;
      border-radius: 50%; }
    .profile__left:hover {
      opacity: .9; }
  .profile__form {
    width: 510px;
    margin: 0 auto; }
  .profile__photo {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background: #EFEFEF url("../images/profil_logo.svg") 50% 50% no-repeat;
    cursor: pointer;
    display: flex; }
    .profile__photo:hover .profile__placeholder {
      opacity: 1; }
  .profile__placeholder {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: opacity .3s; }
    .profile__placeholder__text {
      position: absolute;
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .profile__image {
    border-radius: 50%;
    width: 100%;
    height: auto; }
  .profile__name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px; }
  .profile__items {
    margin-bottom: 50px; }
    .profile__items:last-child {
      margin-bottom: 0; }
  .profile__item {
    display: flex;
    border-bottom: 1px solid #EAEAEA;
    justify-content: space-between;
    padding: 10px 0; }
    .profile__item:last-child {
      border-bottom: none; }
  .profile__label_link {
    cursor: pointer;
    color: #2F43F2; }
  .profile__label_exit {
    cursor: pointer;
    color: #F04848; }
  .profile__value {
    color: #959595;
    text-align: right; }
  .profile__btn {
    display: block;
    padding: 8px 0;
    min-width: 100px;
    background-color: #3860CA;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    min-width: 200px;
    margin: 0 auto; }
    .profile__btn:hover {
      opacity: .9; }

.nav-list {
  background-color: #fff;
  box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 0;
  position: absolute;
  left: 200px;
  top: 20px; }
  .nav-list__item {
    color: #1E1E1E;
    transition: background-color .2s;
    list-style-type: none;
    padding: 10px 15px;
    min-width: 170px;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .nav-list__item svg {
      margin-right: 15px; }
    .nav-list__item:hover {
      background-color: #ccc; }

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  width: 300px; }
  .modal_average {
    width: 450px; }
  .modal__body {
    margin-bottom: 40px; }
  .modal__text {
    color: #1E1E1E;
    font-size: 16px; }
    .modal__text_center {
      margin: 0 30px;
      text-align: center;
      margin-bottom: 15px; }
  .modal__footer {
    display: flex;
    justify-content: flex-end; }
    .modal__footer_center {
      justify-content: center; }
  .modal__btn {
    padding: 8px 0;
    min-width: 100px;
    background-color: #3860CA;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 10px;
    transition: background-color .2s; }
    .modal__btn:hover {
      background-color: rgba(56, 96, 202, 0.9); }
    .modal__btn:last-child {
      margin-right: 0; }
    .modal__btn_secondary {
      color: #3860CA;
      background-color: #fff; }
      .modal__btn_secondary:hover {
        background-color: rgba(205, 201, 201, 0.3); }
    .modal__btn_wide {
      display: block;
      width: calc(100% - 60px); }
  .modal__control {
    margin: 0 30px;
    border-bottom: 1px solid #000; }
  .modal__input {
    font-size: 15px;
    width: 100%; }
  .modal__label {
    font-size: 9px;
    color: #959595; }
