extends ../layout

block variables
    - const title = 'Ошибка 404'
    - const name_css = 'error'

block content
    main.error
        h1.error__title 404
        .error__footer
            p.error__text Ой! Такой страницы нет на сайте :(
            button(type="button").error__btn К чату?