extends ../layout

block variables
	- const title = 'Ошибка 500'
	- const name_css = 'error'

block content
	main.error
		h1.error__title 500
		.error__footer
			p.error__text К сожелению, страница недоступна.
			p.error__text Мы уже работаем над устранением неисправностей
			button.error__btn(type="button") К чату?