extends ../layout

block variables
    - const title = 'Профиль'
    - const name_css = 'profile'

block content
    main.profile
        .profile__left
            .profile__left__arrow
                i.fa.fa-long-arrow-left
        .profile__form
            .profile__heaed
                .profile__photo
                    img(class="profile__image" src="images/static_cat.jpg")
                .profile__name Инна
            .profile__items
                .profile__item
                    .profile__label Почта
                    input.profile__value(disabled type="email" placeholder="Почта" value="inna@yandex.ru")
                .profile__item
                    .profile__label Логин
                    input.profile__value(disabled placeholder="Логин" value="Inna")
                .profile__item
                    .profile__label Имя
                    input.profile__value(disabled placeholder="Имя" value="Инна")
                .profile__item
                    .profile__label Фамилия
                    input.profile__value(disabled placeholder="Фамилия" value="Бадреева")
                .profile__item
                    .profile__label Телефон
                    input.profile__value(disabled type="tel" placeholder="Телефон" value="+7(909)967-30-30")
            .profile__items
                .profile__item
                    a(href="/profile_change.html").profile__label.profile__label_link Изменить данные
                .profile__item
                    a(href="/profile_password.html").profile__label.profile__label_link Изменить пароль
                .profile__item
                    a(href="#").profile__label.profile__label_exit Выйти
