extends ../layout

block variables
    - const title = 'Регистрация'
    - const name_css = 'form'

block content
    main
        .overview.overview_active
        .log-form
            div
                span.log-form__title Регистрация
                .log-form__control
                    input.log-form__input(type="email" placeholder="Почта" data-type="email" data-text="Email введен некорректно")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder="Логин" data-type="login" data-size="3" data-text="Логин дожен быть не менее 3 символов")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder="Имя" data-type="first_name" data-text="Поле не должно быть пустое")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder="Фамилия" data-type="last_name" data-text="Поле не должно быть пустое")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(type="tel" placeholder="Телефон" data-type="phone" data-text="Телефон не соответствует +79999999999")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(type="password" placeholder="Пароль" data-type="password" data-text="")
                    span.log-form__error
                .log-form__control
                    input.log-form__input(type="password" placeholder="Пароль (еще раз)" data-type="password_again" data-text="Пароли не совпадают")
                    span.log-form__error
            .log-form__group-btn
                button.log-form__btn.js-registration Зарегистрироваться
                a(href="/login.html").log-form__btn.log-form__btn_gray Войти