extends ../main.layout.pug

block content
    main
        .overview.overview_active
        .log-form
            div
                .log-form__title Регистрация
                .log-form__control
                    input.log-form__input(placeholder='Почта')
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder='Логин')
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder='Имя')
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder='Фамилия')
                    span.log-form__error
                .log-form__control
                    input.log-form__input(placeholder='Телефон')
                    span.log-form__error
                .log-form__control.log-form__control_error
                    input.log-form__input(placeholder='Пароль')
                    span.log-form__error
                .log-form__control.log-form__control_error
                    input.log-form__input(placeholder='Пароль (еще раз)')
                    span.log-form__error Пароли не совпадают
            .log-form__group-btn
                button.log-form__btn Зарегистрироваться
                button.log-form__btn.log-form__btn_gray Войти