html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif, "Open Sans";
  font-size: 14px;
  background-color: $bgBody;
  color: #000;
}

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: $grayColorbg;
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

img,
svg {
  width: auto;
  height: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
  padding: 0;
  background: transparent;
}

input[type=file] {
  display: none;
}

a,
button {
  cursor: pointer;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

button:focus,
input:focus,
textarea:focus,
input:invalid,
input {
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
  width: 100%;
  border: transparent;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 15px 0;
  font-weight: bold;
}

.container {
  margin: auto;
}

.window__inner {
  //width: 1000px;
}

.hidden,
.loader {
  display: none;
}

.show {
  display: block;
}

.overview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(52, 9, 9, 0.15);
  z-index: 100;

  &_active {
    display: block;
  }
}
