$mainColor: #3860ca;
$errorColor: #f04848;

$grayColorText: #959595;
$blueColorText: #2f43f2;
$redColorText: $errorColor;

$blackColorText: #1e1e1e;

$grayColorbg: #cdc9c9;
$grayColorBorder: #eaeaea;
$grayColorBorder2: #ececec;
$grayColorBtn: rgba(196, 196, 196, 0.1);

$bgBody: #fff;
$bgColor: $mainColor;

$widthLeftProfile: 81px;
$widthFormLog: 185px;
$heightHeaderMessenger: 53px;
$heightEditor: 55px;
