.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0 20px $widthLeftProfile;

  &__left {
    position: fixed;
    left: 0;
    top: 0;
    width: $widthLeftProfile;
    height: 100vh;
    background-color: rgba($grayColorbg, 30);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &__arrow {
      @include arrow;
    }

    &:hover {
      opacity: .9;
    }
  }

  &__form {
    width: 510px;
    margin: 0 auto;
  }

  &__photo {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #efefef;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzYgMkg0QzIuODk1IDIgMiAyLjg5NTQgMiA0VjI1LjI2NjdMMTQuNjU1IDIyLjMxMzlDMTUuNTQ5IDIyLjEwNTMgMTYuNDY0IDIyIDE3LjM4MSAyMkgyMi42MTlDMjMuNTM2IDIyIDI0LjQ1MSAyMi4xMDUzIDI1LjM0NSAyMi4zMTM5TDM4IDI1LjI2NjdWNEMzOCAyLjg5NTQgMzcuMTA1IDIgMzYgMlpNNCAwQzEuNzkxIDAgMCAxLjc5MDkgMCA0VjM2QzAgMzguMjA5MSAxLjc5MSA0MCA0IDQwSDM2QzM4LjIwOSA0MCA0MCAzOC4yMDkxIDQwIDM2VjRDNDAgMS43OTA5IDM4LjIwOSAwIDM2IDBINFpNMTAuOTA5IDE0LjU0NTVDMTIuOTE3IDE0LjU0NTUgMTQuNTQ1IDEyLjkxNzQgMTQuNTQ1IDEwLjkwOTFDMTQuNTQ1IDguOTAwOCAxMi45MTcgNy4yNzI3IDEwLjkwOSA3LjI3MjdDOC45MDEgNy4yNzI3IDcuMjcyOTkgOC45MDA4IDcuMjcyOTkgMTAuOTA5MUM3LjI3Mjk5IDEyLjkxNzQgOC45MDEgMTQuNTQ1NSAxMC45MDkgMTQuNTQ1NVoiIGZpbGw9IiNDRENEQ0QiLz4NCjwvc3ZnPg0K");
    display: flex;
    overflow: hidden;

    &:hover {
      .profile__placeholder {
        opacity: 1;
      }
    }
  }

  &__placeholder {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: opacity .3s;

    &__text {
      position: absolute;
      color: #fff;

      @include centered;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    position: absolute;

    @include centered;
  }

  &__name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid $grayColorBorder;
    justify-content: space-between;
    padding: 10px 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__label {
    &_link {
      cursor: pointer;
      color: $blueColorText;
    }

    &_exit {
      cursor: pointer;
      color: $redColorText;
    }
  }

  &__value {
    color: $grayColorText;
    text-align: right;
  }

  &__btn {
    display: block;
    min-width: 200px;
    margin: 0 auto;

    @include btn();

    &:hover {
      opacity: .9;
    }
  }
}
